<div class="container" id="about">

    <div class="row">
        <div class="col-md-12">

            <section class="center">

                {{ .Content }}

            </section>

            <section>
                <img class="center" src="/img/teamwork.jpg">
            </section>

        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "certifications.html" . }}