{{ if isset .Site.Params "certifications" }}
{{ if .Site.Params.certifications.enable }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.certifications.title | markdownify }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.certifications.subtitle | markdownify }}
                </p>

                <ul class="owl-carousel customers">
                    {{ range .Site.Data.certifications }}
                    <li class="item" title="{{ .name }}">
                      <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width=100/>
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}