<div class="container" id="contact">


    <div class="row center">
        <div class="col-md-12">
            {{ .Content }}
        </div>
    </div>

    <div class="row center">
        <div class="col-md-6">

            <section>
                <img class="center" src="/img/alp.jpg">
            </section>

        </div>

        <div class="col-md-6">

            <section class="center">
                <h4>Alp Bora</h4>
                <h5>Principal Consultant</h5>
                <a href="tel:+1 902 877 3216"><p><i class="fas fa-phone"></i> +1 902 877 3216</p></a>
                <a href="mailto:alp@boraconsulting.ca"><p><i class="fas fa-envelope"></i> alp@boraconsulting.ca</p></a>
            </section>

        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
