{{ if isset .Site.Params "framework" }}
{{ if .Site.Params.framework.enable }}
{{ if gt (len .Site.Data.framework) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.framework.title | markdownify }}</h2>
                </div>

                <p class="lead">
                    {{ .Site.Params.framework.subtitle | markdownify }}
                </p>


                <ul class="owl-carousel customers">
                    {{ range .Site.Data.framework }}
                    <li class="item pillar" style="@media screen and (min-width: 768px) {width: 200px !important;}" title="{{ .name }}">
                        {{ if .url }}
                        <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        </a>
                        {{ else }}
                        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>

            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}