<div class="container" id="services">

    <div class="row">
        <div class="col-md-12">

            <section class="services">
                <section>
                    <img class="center" src="/img/engagement.png">
                </section>

                <br>

                <section>
                    <img class="center" src="/img/maintenancereliabilityframework.png">
                </section>

                <section>
                    <img class="center" src="/img/values.png">
                </section>
            </section>

        </div>

    </div>
    <!-- /.row -->
</div>
{{ partial "framework.html" . }}