<!-- Get src param from shortcode -->
{{ $src := $.Get "src"}}

<!-- Get alt param from shortcode -->
{{ $alt := $.Get "alt"}}

<!-- Get image -->
{{$img := resources.Get $src}}

<!-- Resize image as a test it's working -->
{{- $desktop := $img.Resize "700x"}}
{{- $mobile := $img.Resize "300x"}}

<picture>
    <source media="(max-width:400px)" srcset="{{ $mobile.Permalink }}">
    <img src="{{ $desktop.Permalink }}" alt="{{ $alt }}" style="width:auto;">
</picture>